{% load static %}
<a href="{% url 'private:home' %}" class="navbar-brand text-light mb-4">
    {% if organization.logo %}
    <img src="{{ organization.logo.url }}" alt="logo de organizacion" width="36" height="36" >
{% else %}
    <img src="{% static 'img/untils/noimage.jpg' %}" alt="logo de organizacion" width="36" height="36" >
{% endif %}

 {{organization.name}}
  </a>
  
  <ul class="nav nav-pills flex-column mt-4">
    <li class="nav-item">
      <a href="{% url 'private:home' %}" class="nav-link text-light {% if request.path == '/admin/' %}active{% endif %}">
        <i class="bi bi-speedometer2 me-2"></i> Inicio
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'users:list' %}" class="nav-link text-light {% if '/admin/usuarios/' in request.path %}active{% endif %}">
        <i class="bi bi-people me-2"></i> Usuarios
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'private:view_configuration' %}" class="nav-link text-light {% if '/configuration/' in request.path %}active{% endif %}">
        <i class="bi bi-gear me-2"></i> Configuración
      </a>
    </li>
  </ul>