<nav aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-end">
        <!-- Botones para ir al inicio y a la página anterior -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page=1">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}">&lsaquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        <li class="page-item disabled"><span class="page-link">&lsaquo;</span></li>
        {% endif %}

        <!-- Números de página -->
        {% for num in page_obj.paginator.page_range %}
        {% if num == 1 or num == page_obj.paginator.num_pages or num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ num }}">{{ num }}</a>
        </li>
        {% elif num == page_obj.number|add:-3 or num == page_obj.number|add:3 %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% endfor %}

        <!-- Botones para ir a la página siguiente y al final -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}">&rsaquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
</nav>
