 <!-- Footer -->
 <footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Pixel Zone</h5>
                <p>
                    <!-- Somos un emprendimiento sanluiseño con más de dos años de experiencia, especializado en el estampado de playeras. -->
                    Nos apasiona ofrecer diseños únicos, calidad incomparable y un servicio que supera expectativas.
                    ¡Esto es solo el comienzo! Muy pronto ampliaremos nuestros servicios para brindarte aún más opciones de personalización.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Enlaces</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'public:home' %}" class="text-dark">Inicio</a>
                    </li>
                    <li>
                        <a href="{% url 'public:catalog' %}" class="text-dark">Catalogo</a>
                    </li>
                    <li>
                        <a href="{% url 'public:about_us' %}" class="text-dark">Sobre Nosotros</a>
                    </li>
                    <li>
                        <a href="{% url 'public:questions' %}" class="text-dark">Preguntas Frecuentes</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase fw-bold mb-3">¡Contáctanos y da vida a tus ideas con nosotros!</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="https://wa.me/50251664671" class="text-decoration-none text-dark" target="_blank">
                            <i class="bi bi-whatsapp me-2"></i>
                            5166 4671
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://www.facebook.com/pixelzonegt" class="text-decoration-none text-dark" target="_blank">
                            <i class="bi bi-facebook me-2"></i>
                            pixelzonegt
                        </a>
                    </li>
                    <li class="mb-2">
                        <span class="text-dark">
                            <i class="bi bi-geo-alt me-2"></i>
                            San Luis, Jilotepeque, Jalapa
                        </span>
                    </li>
                    <li class="mb-2">
                        <a href="mailto:pixelzonegt@gmail.com" class="text-decoration-none text-dark">
                            <i class="bi bi-envelope me-2"></i>
                            pixelzonegt@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>

    <div class="text-center p-3 bg-dark text-white">
        © 2025 PixelZone. Todos los derechos reservados.
    </div>
</footer>