{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Estilos de navbar -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</head>
<body>
    
    <div class="d-flex" style="height: 100vh;">

        {% include 'private/frames/navigation/navbar.html' %}
        <main class="flex-grow-1 d-flex flex-column" style="overflow-y: auto;">
            {% include 'private/frames/topbar.html' %}
            {% include 'private/frames/navigation/offcanvas.html' %} 
            <!-- { include 'private/frames/messages.html' %} -->
                    <div class="container my-4">
                        {% block content %}
    
                    {% endblock %}
                    </div>
                </div>
            </div>

        </main>
    </div>
    {% include 'private/frames/sweetalert.html' %}
    <!-- Bootstrap JS y dependencias -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
