{% extends 'public/base.html' %}
{% load static %}

{% block title %}
Catálogo
{% endblock %}

{% block content %}
    {% include 'public/frames/navbar.html' %}

    <div class="container my-1">
        <h1 class="text-center mb-4">Catálogo</h1>

        <div class="row">
            <!-- Aside Izquierdo -->
            <aside class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="bi bi-filter me-2"></i>
                            Filtrar</h5>
                        <form method="get" action="{% url 'public:catalog' %}">
                            <!-- Búsqueda -->
                            <div class="mb-3">
                                <label for="q" class="form-label">Buscar</label>
                                <input 
                                    type="text" 
                                    name="q" 
                                    id="q" 
                                    class="form-control" 
                                    placeholder="Descripción o etiqueta"
                                    value="{{ request.GET.q|default:'' }}">
                            </div>

                            <!-- Etiquetas -->
                            <div class="mb-3">
                                <label class="form-label">Etiquetas</label>
                                {% for tag in tags %}
                                    <div class="form-check">
                                        <input 
                                            class="form-check-input" 
                                            type="checkbox" 
                                            name="tags" 
                                            value="{{ tag.name }}" 
                                            id="tag-{{ tag.id }}"
                                            {% if tag.name in selected_tags %}checked{% endif %}>
                                        <label class="form-check-label" for="tag-{{ tag.id }}">
                                            {{ tag.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Precio -->
                            <div class="mb-3">
                                <label for="min_price" class="form-label">Precio Mínimo</label>
                                <input 
                                    type="number" 
                                    name="min_price" 
                                    id="min_price" 
                                    class="form-control"
                                    placeholder="0"
                                    value="{{ request.GET.min_price|default:'' }}">
                            </div>
                            <div class="mb-3">
                                <label for="max_price" class="form-label">Precio Máximo</label>
                                <input 
                                    type="number" 
                                    name="max_price" 
                                    id="max_price" 
                                    class="form-control"
                                    placeholder="99999"
                                    value="{{ request.GET.max_price|default:'' }}">
                            </div>

                            <div class="row g-2">
                                <div class="col-9">
                                    <button type="submit" class="btn btn-primary w-100 d-flex align-items-center justify-content-center">
                                        <i class="bi bi-funnel me-2"></i> Aplicar Filtros
                                    </button>
                                </div>
                                <div class="col-3">
                                    <button type="reset" class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center">
                                        <i class="bi bi-arrow-counterclockwise"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="row mt-2">
                                <div class="col">
                                    <a href="{% url 'public:catalog' %}" class="btn btn-outline-danger w-100 d-flex align-items-center justify-content-center">
                                         Eliminar Filtros
                                    </a>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </aside>

            <!-- Productos -->
            <div class="col-12 col-md-8 col-lg-9">
                <div class="row">
                    {% for playera in playeras %}
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            <div class="card h-100" onclick="window.location.href='{% url 'products:design_detail' playera.id %}'" style="cursor: pointer;">
                                <img src="{{ playera.image.url }}" class="card-img-top" alt="{{ playera.description }}">
                                
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ playera.description }}</h5>
                                    <p class="card-text">
                                        {% if playera.on_offer %}
                                        <span class="text-primary fw-bold fs-4">Q{{ playera.offer_price }}</span>
                                        <span class="text-decoration-line-through text-muted fs-6">Q{{ playera.sale_price }}</span>
                                            {% else %}
                                            <span class="text-primary fw-bold fs-4">Q{{ playera.sale_price }}</span>
                                        {% endif %}

                                    </p>
                                    <p class="card-text">
                                        {% for tag in playera.tags.all %}
                                            <span class="badge bg-primary text-light">{{ tag.name }}</span>
                                        {% endfor %}
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="text-center">No se encontraron resultados.</p>
                    {% endfor %}
                </div>
                
                <!-- Controles de paginación -->
                {% include 'public/frames/catalog_pagination.html' %}
                
            </div>
        </div>
    </div>
{% endblock %}
