{% extends 'public/base.html' %}
{% load static %}

{% block title %}
{% if organization.name %}
        {{ organization.name }}
    {% else %}
        Nuestra Organizacion
    {% endif %}
{% endblock %}

{% block content %}
<style>
    .full-height {
      height: 100vh;
      background-image: url("{% if organization.banner %}{{ organization.banner.url }}{% else %}https://via.placeholder.com/1920x1080{% endif %}"); /* Cambia por tu URL */
      background-size: cover;
      background-position: center;
      color: white;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    }
    .overlay {
      background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen de fondo */
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  </style>
<div class="full-height">
    <div class="overlay">
      <h1 class="display-4">{{ organization.name }}</h1>
      <p class="lead">{{ organization.description }}</p>
      <a href="{% url 'public:catalog' %}" class="btn btn-outline-light btn-lg">Ver Catálogo</a>
    </div>
  </div>



{% endblock %}
