{% extends 'public/base.html' %}
{% load static %}

{% block title %}
Preguntas Frecuentes
{% endblock %}

{% block content %}
{% include 'public/frames/navbar.html' %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4 text-secondary">
            🛠️ Nos encontramos trabajando en esta sección de la página.
        </h1>
        <p class="lead text-muted">
            ¡Pronto estará disponible! Gracias por tu paciencia.
        </p>
    </div>
</div>

{% endblock %}
