{% extends 'public/base.html' %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block content %}

    <div class="overlay"></div> <!-- Overlay de fondo -->
    <div class="container">
        <div class="card p-4 mt-3">
            <h2 class="text-center">Iniciar Sesión</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="mb-3 position-relative">
                    {{ form.password.label_tag }}
                    <div class="input-group">
                        {{ form.password|add_class:"form-control" }}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                                <i class="bi bi-eye" id="togglePasswordIcon"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
            </form>
            <div class="text-center mt-3"> 
                <a href="{% url 'public:home' %}">Salir</a>
            </div>
        </div>
    <!-- Botón de inicio de sesión con Google -->
    <!-- <a href="{% provider_login_url  'google' %}" class="google-login-btn">
        <img src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png" 
             alt="Iniciar sesión con Google">
    </a> -->
    </div>

    {% include 'auth/show_password.html' with buttonId="togglePassword" passwordSelector="[name='password']" iconId="togglePasswordIcon" %}

    {% endblock %}